#-------------------------------------------
# Linux Kernel Module build files
#-------------------------------------------

*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.symvers
*.order
*.cmd

#-------------------------------------------
# Kernel build metadata
#-------------------------------------------

Module.symvers
modules.order

#-------------------------------------------
# Kbuild generated directories
#-------------------------------------------

.tmp_versions/
.cache.mk/

#-------------------------------------------
# Editor / temporary files
#-------------------------------------------

*~
*.swp
*.swo
*.tmp

#-------------------------------------------
# Crash dumps
#-------------------------------------------

core
core.*



